In [2]:
Celcius=[2,3,4,5]
Fahrenheit = [((9/5)*temp +32)for temp in Celcius]

In [3]:
Fahrenheit

[35.6, 37.4, 39.2, 41.0]

In [7]:
celcius =[3,3,2,3,1]
fahrenheit =[]
for temp in celcius:
    fahrenheit.append((9/5)*temp+32)

In [8]:
fahrenheit

[37.4, 37.4, 35.6, 37.4, 33.8]

In [22]:
my_list =[2,4,45,6,3,5,5]
myData = [x if x%2 ==0 else'Odd' for x in range(1,20) ]

In [23]:
myData

['Odd',
 2,
 'Odd',
 4,
 'Odd',
 6,
 'Odd',
 8,
 'Odd',
 10,
 'Odd',
 12,
 'Odd',
 14,
 'Odd',
 16,
 'Odd',
 18,
 'Odd']

In [24]:
x= [2,3,4]
y =[4,3,2]
myData =[]
for data in x:
    for data1 in y:
        myData.append(data*data1)

In [25]:
myData

[8, 6, 4, 12, 9, 6, 16, 12, 8]

In [17]:
myList = [x*y for x in [2,3,4,7] for y in [3,2,4]]

In [18]:
myList

[6, 4, 8, 9, 6, 12, 12, 8, 16, 21, 14, 28]